<div class="pictureContainer">
  
    <div class="sub">
       <a><img src="../assets/images/banana1.jpg"></a>
    </div>
    <div class="sub">
       <img src="../assets/images/banana2.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana3.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana4.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana5.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana6.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana6.jpg">
    </div>
    <div class="sub">
       <img src="../assets/images/banana4.jpg">
    </div>
    </div>