<div class="mainContainer">
    <ul class="subContainer">
     <li><a routerLink="/">Home</a> </li>
     <li><a routerLink="/about">About</a></li>
     <li><a routerLink="/apply">Apply</a></li>
     <li><a routerLink="/contact">Contact us</a></li>
     <li><a routerLink="/service">Services</a></li>
    </ul>
 </div>
<router-outlet></router-outlet>
echo "# angular_routing" >> README.md
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Eyobayie/angular_routing.git
git push -u origin main
